@import url(https://fonts.googleapis.com/css?family=Playfair+Display&display=swap);

$heading-font: 'Playfair Display';

*,
*:after,
*:before {
  box-sizing: border-box;
}

$primary-background: rgba(#FFFFFF, .5);
$secondary-background: #dce7f7;
$tertiary: grey;
$primary-text: #000000;
$secondary-text: #FFFFFF;
$hover: #af2155;

body {
  background-image: url("/images/bright-colors-daylight-2742812.jpg");
  background-size: cover;
  background-position: 50% 30%;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  font-family: $heading-font;
  margin: 0;
}

header {
  padding: 20px;
}

h1 {
  text-align: center;
  letter-spacing: 10px;
}

h2 {
  text-align: center;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  margin: 0px;
}

.h3-low {
  margin-top: 30px;
}

h4 {
  font-size: 16px;
  letter-spacing: 2px;
}

.tab {
  display: flex;
  justify-content: space-between;
}

p {
  color: $tertiary;
  letter-spacing: 1px;
  font-family: sans-serif;
  font-weight: normal;
}

ul {
  display: flex;
  padding-right: 40px;
  margin: 0;
}

.tabs-li {
  list-style-type: none;
  margin: 0;
  width: 25%;
  margin: 0;
}

a {
  border: 1px solid $tertiary;
  color: $primary-text;
  display: block;
  letter-spacing: 5px;
  margin: 0;
  padding: 20px 0;
  text-align: center;
  text-decoration: none;
  &:hover{
    color: $hover;
  }
}

.tab-active a {
  background: $primary-background;
  color: $primary-text;
  cursor: default;
}

.tabs-info {
  background-color: $primary-background;
  border: 1px solid $tertiary;
  clear: both;
  margin: 0 40px 40px 40px;
  padding: 40px 80px;
  position: relative;
  top: -1px;
}

.default-info,
.customer-info {
  padding: 20px;
  width: 50%;
}

input {
  font-size: 16px;
  letter-spacing: 1px;
  margin: 20px 0px;
  max-width: 400px;
  padding: 10px;
  width: 100%;
}

button {
  background-color: lighten($hover, 10);
  color: $secondary-text;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 10px 20px;
  &:hover {
    background-color: $hover;
  }
  &:disabled {
    background-color: $secondary-text;
  }
}

select {
  font-size: 16px;
  letter-spacing: 1px;
  margin: 20px 0px;
  max-width: 400px;
  width: 210;
  padding: 10px;
}
